@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Light.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroyextrabold.ttf");
}
body {
  /* letter-spacing: 0.7px; */
  /* width: 100%;
  height: 2795px;
  margin: 0 auto; */
  /* width: 1440px;
  margin: 0 auto; */
  font-family: "Open Sans", "Arial", Verdana, sans-serif;
}
.container {
  width: 1160px;
  margin: 0 auto;
  position: relative;
  /* margin-left: auto;
  margin-right: auto; */
}
/*HEADER*/
.device_logo {
  top: 18px;
  left: 60px;
  position: absolute;
  z-index: 16;
  font-size: 45px;
  font-family: "Gilroy";
  src: url("fonts/Gilroyextrabold.ttf");
  text-transform: uppercase;
}
.device_logo:hover {
  opacity: 0.6;
}
.device_logo:active {
  opacity: 0.3;
}
.main_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.navigation_header{
  display: flex;
  flex-direction: row;
  width: 1160px;
  font-family: "Gilroy";
  src: local("Gilroy"),
       url("fonts/Gilroyextrabold.ttf");
       background-color: #f7e296;
  height: 299px;
  /* position: absolute; */
  margin-top: 40px;
  
}
.container_header_left {
  display: flex;
  width: 247px;
  height: 82px;
  flex-direction: column;
  justify-content: space-between;  
  align-items: flex-start;
  margin-top: 53px;
  margin-left: 60px;

}

.container_header_right {
  display: flex;
  width: 500px;
  height: 82px;
  /*margin-right: 60px;*/
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-top: 53px;
  margin-right: 60px;
}
.upper_stroke{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  font-family: "Open Sans";
  src: local("Open Sans"),
       url("fonts/OpenSans-Light.ttf");
       font-weight: bold;
}
.down_stroke {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  text-transform: uppercase;
}
.container_header_left_search{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
}
 .container_header_left_catalog {
   display:flex;
   width: 200px;
   justify-content: space-between;
   text-transform: uppercase;
   font-family: "Gilroy";
   src: local("Gilroy"),
        url("fonts/Gilroyextrabold.ttf");
 }
.catalog_header:hover {
  opacity: 0.6;
}
.catalog_header:active {
  opacity: 0.3;
}
 .user_block {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: baseline;
   width: 72px;
 }
 .choose {
   display: flex;
   flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      width: 95px;
 }
 .basket {
   display: flex;
   flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      width: 85px;
 }
.input_search {
  text-align: left;
  background: none;
  border: none;
  outline: none;
  opacity: 0.3;
  width: 270px;
  margin-left: 10px;
}
a {
  text-decoration: none;
  color: black;
}

.delivery_garanty {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 269px;
}
.choose_basket {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 220px;
}
.header_links:hover{
  opacity: 0.6;
}
.header_links:active{
  opacity: 0.3;
}

a:active {
  opacity: 0.3;
}
.input_search:hover {
  opacity: 0.6;
}
.input_search:focus {
  opacity: 1;
}


/*MODAL_MENU*/
.catalog_menu {
  font-family: "Open Sans";
  src: local("Open Sans"),
       url("fonts/OpenSans-Light.ttf");
       
       font-size: 10px;
       font-weight: bold;
       background-color: #f7e296;
       position: absolute;
       display: flex;
       height: 130px;
       width: 1040px;
       font-size: 10px;
       top: 208px; 
       left: 60px;
       opacity: 0;
       transition: 0.5s;
}
.catalog_menu.active {
  display: flex;
  position: absolute;
  top: 208px;
  left: 60px;
  z-index: 20;
  height: 130px;
  width: 1040px;
  background-color: #f7e296;
  opacity: 1;
  /* background-color: red; */
}
.catalog_menu_block1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 87px;
}
.catalog_menu_block2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 125px;
  height: 50px;
}
.catalog_menu_block3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 112px;
  height: 87px;
}
.catalog_header:hover {
  cursor: pointer;
}

/* SLIDER */

.slider_buttons > *:hover {
  cursor: pointer;
} 
.slider_buttons{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  right: 100px;
  top: 560px;
  z-index: 19;
}
.slider_buttons__radio{
  width: 12px;
  height: 12px;
  background: url("img/slider_btn_inactive.png") no-repeat;
  border-radius: 100px;
  cursor: pointer;
}

.slider_buttons__radio.active {
  background: url("img/slider_btn_active.png") no-repeat;
}
.slider1 {
  overflow: hidden;
  white-space: nowrap;
  width: 1160px;
  height: 480px;
  margin: 0 auto;
  margin-top: -111px;
  z-index: 1;
}
.slider1 > * {
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  transition: margin 0.5s ease-out;
}



/* ВОТ ЭТИ ДВА НИЖНИХ СЕЛЕКТОРА - ЭТО рабочий слайдер */
/* .slider_txt.overlay {
  display: flex;
  margin: 0 auto;
  width: 1040px;
  z-index:10;
  justify-content: space-between;
  font-size: 27px;
  font-family: "Gilroy";
  src: url("fonts/Gilroyextrabold.ttf");
} */
.slider_txt { 
  display: none;
  display: inline-flex;
  margin: 0 auto;
  width: 1040px;
  z-index:10;
  justify-content: space-between;
  font-size: 27px;
  font-family: "Gilroy";
  margin-left: 60px;
  src: url("fonts/Gilroyextrabold.ttf");
}

.span_slider1 {
  display: flex;
  position: relative;
  z-index: 2;
  font-size: 45px;
  font-family: "Gilroy";
  src: url("fonts/Gilroyextrabold.ttf");
}
.img_01 {
  position: absolute;
  right: 0;
  top: -70px;

}
.span_slider2 {
  display: flex;
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Light.ttf");
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #a9a9a9;
}
.slider_1_txt {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  top: 80px;
  height: 390px;
  width: 500px;
  border: none;
}
.span_slider3 {
  font-size: 15px;
  font-family: "Gilroy";
  src: url("fonts/Gilroyextrabold.ttf");
  text-transform: uppercase;
}
.span_slider3:active {
  opacity: 0.6;
}
.button_backgr {
  display: flex;
  height: 7px;
  width: 220px;
  justify-content: center;
  align-items: center;
  background-color: #f0c52e;
}
.wrap_btn_3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 220px;
  transition:  0.5s;
}
.wrap_btn_3:hover  {
  background-color: #f0c52e;
  cursor: pointer; 
}
.container_header_left_search {
  width: 400px;
  display: flex;
  justify-content: flex-start;
  position: relative;
  
}
.container_header_left_search:hover,
.container_header_left_search:focus {
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}
.span_search {
  display: none;
}
.container_header_left_search:hover .span_search,
.container_header_left_search:focus .span_search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Light.ttf");
  right: 0;
  bottom: 0;
  border: 2px solid black;
  border-bottom: none;
  width: 81px;
  height: 45px;
}
.span_search:hover {
  color:white;
  background-color: black;
}
.span_search:active {
  color: lightgray;
  background-color: black;
}
.slider1_txt_descr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 460px;
  height: 61px;
  position: absolute;
  bottom: 0;
}
.slider3_txt_descr {
  width: 280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 61px;
  position: absolute;
  bottom: 0;
}
.descr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70px;
}
.slider1_txt_descr>* {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 160px;  
}
.descr_upper {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Light.ttf");
  font-size: 33px;
}
.descr_down {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Light.ttf");
  font-weight: bold;
  font-size: 10px;
}
.icons_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 237px;
  width: 1160px;
  margin-top: 104px;
  cursor: pointer;
}
.backgr_icons {
  background-color: #f7e296;
  height: 160px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.icon_2 {
  align-items: flex-end;
}
.backgr_icons:hover{
  background-color: #f0c52e;
}
.bacgr_icons_container:active{
 opacity: 0.6;
}
.bacgr_icons_container:hover {
  background-color: #f0c52e;
  height:160px;
}
.backgr_icons2.opacity {
  opacity: 0.6;
}
 
.icons_container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  height: 37px;
  margin-top: 37px;
  font-family: "Gilroy";
  font-weight: bold;
}
.description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 390px;
  width: 100%;
  margin: 85px 0;
}
.description__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 390px;
  width: 1160px;
  position: absolute;
}
.background_description {
  position: absolute;
  height: 290px;
  margin-top: 95px;
  width: 100%;
  background-color: #e5e5e5;
}
.description__nav {
  display: flex;
  border-right: 7px solid black;
  flex-direction: column;
  justify-content: center;
  height: 321px;
  width: 284px;
}


/* BUTTONS NAV */

.nav_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 40px;
  width: 290px;
}

.btn_wrap {
  display: flex;
  height: 7px;
  width: 160px;
  justify-content: center;
  align-items: center;
  background-color: #f0c52e;
}
.btn_wrap.hide {
  display: flex;
  height: 7px;
  width: 160px;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.nav_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 170px;
  width: 284px;
}
.nav_btn:hover {
  color: #f0c52e;
  background-color: black;
  width: 290px;
}
.nav_btn.active {
  color: #f0c52e;
  background-color: black;
  width: 290px;
}
.description__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 460px;
  height: 166px;
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Light.ttf");
  font-weight: 400;
}
.description__p {
  font-size: 12px;
  line-height: 23px;
}
.description__title {
  font-family: "Gilroy";
  src: url("fonts/Gilroyextrabold.ttf");
  font-size: 40px;
}
.description__block {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  height: 166px;
  margin-right: 60px;
  margin-top: 75px;
}
.description__block.overlay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  height: 166px;
  margin-right: 60px;
  margin-top: 75px;
}
/* .description__block2 {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  height: 166px;
  margin-right: 60px;
  margin-top: 75px;
}
.description__block2.overlay {
  display: flex;
}
.description__block3 {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  height: 166px;
  margin-right: 60px;
  margin-top: 75px;
}
.description__block3.overlay {
  display: flex;
} */
.description__background {
  background-color: #e5e5e5;
  height: 287px;
  width: 100%;

}
.logo_filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1160px;
  margin-top: 90px;
  /* margin: 0 auto; */

}
.logo_html:hover {
  opacity: 0.6;
}
.logo_img {
  filter: grayscale(1);
  opacity: 0.2;
  cursor: pointer;
}
.logo_img:hover {
  filter: none;
  opacity: 1;
}
.information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1160px;
  height: 660px;
  background-color: red;
  position: absolute;
  top: 1816px;
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 560px;
  /* background-color: red; */
  margin-top: 85px;
}
.info__about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 460px;
  height: 560px;
  /* background-color: blue; */
}
.info__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 560px;
  height: 560px;
  /* height: 560px; */
  /* background-color: green; */
}
.info__about__title {
  font-size: 40px;
  font-family: "Gilroy";
  src: url("fonts/Gilroyextrabold.ttf");
}
.info__p {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /* height: 145px; */
  font-size: 14px;
  font-weight: bold;
  color: #a9a9a9;
  line-height: 25px;
  height: 80px;
}
.info__ul {
  font-family: "Gilroy";
  line-height: 25px;
  font-size: 14px;
}
.info__p__block {
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main_footer {
  display: flex;
  align-items: center;
  background-color: #464646;
  height: 325px;
  margin-top: 85px;
  width: 100%;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.device_logo_footer {
  color: #ffc600;
  font-size: 45px;
  font-family: "Gilroy";
  src: url("fonts/Gilroyextrabold.ttf");
  text-transform: uppercase;
}
.device_logo_footer:hover {
  opacity: 0.6;
}
.device_logo_footer:active{
  opacity: 0.3;
}
.upper_stroke_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 340px;
  font-family: "Open Sans";
  src: local("Open Sans"),
       url("fonts/OpenSans-Light.ttf");
}
.user_block_footer {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 72px;
  opacity: 0.6;
  
}
.choose_footer {
  display: flex;
  flex-direction: row;
     justify-content: space-between;
     align-items: baseline;
     width: 95px;
     color: white;
     opacity: 0.6;
     
}
.basket_footer {
  display: flex;
  flex-direction: row;
     justify-content: space-between;
     align-items: baseline;
     width: 85px;
     color: white;
     opacity: 0.6;
     
}
.basket_footer:hover, 
.choose_footer:hover,
 .user_block_footer:hover {
 opacity: 1;
}
.basket_footer:active, 
.choose_footer:active,
 .user_block_footer:active {
 opacity: 0.3;
}
.adress_footer, .tel {
  font-family: "Open Sans";
  src: local("Open Sans"),
       url("fonts/OpenSans-Light.ttf");
       color: white;
       opacity: 0.6;
       
}
.down_stroke_footer {
  display: flex;
  justify-content: space-between;
  width: 340px;
  font-family: "Gilroy";
  text-transform: uppercase;
  letter-spacing: 2px;
} 
.down_stroke_footer > * {
  color: white;
  
}
.down_stroke_footer > *:hover {
  opacity: 0.6;
}
.down_stroke_footer > *:active {
  opacity: 0.3;
}
.footer__container__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 205px;
}
.down_stroke_footer2 {
  display: flex;
  justify-content: space-between;
  width: 140px;
  font-family: "Gilroy";
  text-transform: uppercase;
  letter-spacing: 2px;
} 
.line_footer {
  height: 7px;
  width: 80px;
  background-color: #ffc600;
}
.logo__html {
  opacity: 1;
}
.logo__html:hover {
  opacity: 0.6;
}
logo__html:active {
  opacity: 0.3;
}
.info_line {
  background: black;
  width: 70px;
  height: 7px;
  transition: 2s;
}
.info__about:hover .info_line,.info__contacts:hover .info_line {
  background-color: #ffc600;
  width: 300px;
}
.slider_line {
  width: 70px;
  background: white;
  /* background-color: #f7e296; */
  height: 7px;
  transition: 2s;
}
.slider_1_txt:hover .slider_line {
  width: 200px;
  background-color: #f7e296;
  /* background: white; */
}
.modal_window {
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
  position: absolute; 
  left: 100px;
   top: 50px; 
  z-index: 1999; 
  margin: 0 auto;
  width: 960px; /* Full width */
  height: 553px; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: white; /* Fallback color */
  /* background-color: rgba(0,0,0,0.4); Black w/ opacity */
  /* z-index: 9999; */
  box-shadow: 0 0 30px;
}
.modal_window.active {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1999;
  left: 100px;
  top: -700px;
  width: 960px;
  height: 553px;
  background-color: white;
  z-index: 9999; 
  box-shadow: 0 0 30px;
} 
.modal_window_wrap {
  width: 100%;
  margin: 0 auto;
}
.modal_overlay {
  display: none;
}
.modal_overlay.active {
  display: flex;
  background-color: black;
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.modal_window__container{ 
  display: flex;
  width: 760px;
  height: 380px;
  /* background: grey; */
  flex-direction: column;
  justify-content: space-between;
}
.modal_window_name, .modal_window_login, .modal_window_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal_window_name, .modal_window_login{
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal_window__upper_storke{
  display: flex;
  justify-content: space-between;

}
.text_placeholder {
  height: 40px;
  width: 360px;
}
.modal_window_text {
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal_name_span {
font-family: "Gilroy";
}
.text_placeholder_down, .text_placeholder {
  background-color: #e5e5e5;
  border: none;
  padding-left: 10px;
}
.text_placeholder_down {
  max-width: 760px;
  min-width: 760px;
  max-height: 150px;
  min-height: 150px;
  padding-top: 10px;
}
.modal_close_img{
  position: absolute;;
  right: 22px;
  top: 22px;
  cursor: pointer;
  opacity: 0.6;
}
.modal_close_img:hover {
  opacity: 1;
}
.modal_close_img:active {
  opacity: 0.3;
}